body {
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.leftContainer {
  flex-grow: 6;
  min-height: 100%;
  height: auto;
  min-width: 60%;
  width: auto;
}

.rightContainer {
  flex-grow: 5;
  background-color: #243a57;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 100%;
  height: auto;
  min-width: 40%;
  width: auto;
}